<div id = "main">
<mbs-header></mbs-header>
<div class="container">
    <!-- <mbs-home (newItemEvent) = "consoleData($event)"></mbs-home> -->
</div>
<!-- <a routerLink = "/book">Go to BookLink</a> -->
<button (click) = "goTo('/book')" class="btn-danger">BOOK</button>
<button (click) = "goTo('/')" class="btn-info">HOME</button>
<button (click) = "goTo('/register')" class="btn-success">REGISTER</button>
<!-- <a [routerLink] = 'link'>Book Page</a> -->
<router-outlet></router-outlet>
<mbs-test></mbs-test>
<mbs-footer></mbs-footer>
<!-- <a routerLink = "">Go Back</a> -->
</div>